* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Anek Latin", sans-serif;
}

body {
  background: rgb(0, 0, 22);
  background: linear-gradient(354deg, rgb(0, 0, 22) 0%, rgb(0, 17, 70) 36%, rgb(0, 0, 22) 81%);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-login .form-wrapper {
  width: 30%;
  background-color: rgb(160, 120, 0);
  border-radius: 20px;
}
.section-login .form-wrapper .hidden {
  display: none;
}
.section-login .form-wrapper .laterais1 {
  height: 30px;
  background: rgb(0, 0, 4);
  background: linear-gradient(0deg, rgb(0, 0, 4) 0%, rgb(3, 0, 38) 50%, rgb(0, 0, 4) 100%);
  border: solid 2px black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.section-login .form-wrapper .laterais2 {
  height: 30px;
  background: rgb(0, 0, 4);
  background: linear-gradient(0deg, rgb(0, 0, 4) 0%, rgb(3, 0, 38) 50%, rgb(0, 0, 4) 100%);
  border: solid 2px black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.section-login .form-wrapper .form-option {
  margin: 0, 5px;
  text-align: center;
  padding: 10px 0;
  background: rgb(218, 0, 30);
  background: linear-gradient(0deg, rgb(218, 0, 30) 0%, rgb(255, 0, 13) 50%, rgb(218, 0, 30) 100%);
  color: white;
  cursor: pointer;
}
.section-login .form-wrapper .form-option h2 {
  font-weight: 400;
}
.section-login .form-wrapper .form-option:hover {
  background: #a10016;
  transition: all 700;
}
.section-login .form-wrapper .form-login {
  background: rgb(0, 0, 22);
  background: linear-gradient(354deg, rgb(0, 0, 22) 0%, rgb(0, 17, 70) 36%, rgb(0, 0, 22) 81%);
  height: 250px;
}
.section-login .form-wrapper .form-login .inputs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar {
  width: 80%;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar .flex-input {
  display: flex;
  flex-direction: column;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar .flex-input .block-input {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: outset;
  border-color: #f0f0f0;
  display: block;
  padding: 10px 10px;
  margin-top: 15px;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar p {
  color: white;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar a {
  color: #da001e;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar .label-checkbox {
  color: white;
  margin-left: 6px;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar .check-input {
  margin: 10px 2px;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar .button-login {
  background: rgb(218, 0, 30);
  background: linear-gradient(0deg, rgb(218, 0, 30) 0%, rgb(255, 0, 13) 50%, rgb(218, 0, 30) 100%);
  display: block;
  margin: 20px auto;
  padding: 10px 50px;
  border: 1px outset #da001e;
  color: white;
  font-family: "Anek Latin";
  border-radius: 10px;
  cursor: pointer;
}
.section-login .form-wrapper .form-login .inputs .flex-menu-centralizar .button-login:hover {
  background: #a10016;
  border: 1px outset #a10016;
  transition: all 700;
}
.section-login .form-wrapper .form-cadastra {
  background: rgb(0, 0, 22);
  background: linear-gradient(354deg, rgb(0, 0, 22) 0%, rgb(0, 17, 70) 36%, rgb(0, 0, 22) 81%);
  height: 320px;
}
.section-login .form-wrapper .form-cadastra .inputs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar {
  width: 80%;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .flex-input {
  display: flex;
  flex-direction: column;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .flex-input .block-input {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: outset;
  border-color: #f0f0f0;
  display: block;
  padding: 10px 10px;
  margin-top: 15px;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .flex-input-cad {
  display: flex;
  justify-content: space-between;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .flex-input-cad .block-input {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: outset;
  border-color: #f0f0f0;
  display: block;
  padding: 10px 5px;
  margin-top: 15px;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .label-checkbox {
  color: white;
  margin-left: 6px;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .check-input {
  margin: 10px 2px;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar a {
  color: #da001e;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .button-login {
  background: rgb(218, 0, 30);
  background: linear-gradient(0deg, rgb(218, 0, 30) 0%, rgb(255, 0, 13) 50%, rgb(218, 0, 30) 100%);
  display: block;
  margin: 20px auto;
  padding: 10px 50px;
  border: 1px outset #da001e;
  color: white;
  font-family: "Anek Latin";
  border-radius: 10px;
  cursor: pointer;
}
.section-login .form-wrapper .form-cadastra .inputs .flex-menu-centralizar .button-login:hover {
  background: #a10016;
  border: 1px outset #a10016;
  transition: all 700;
}/*# sourceMappingURL=style.css.map */